<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530340429489-isn4al6li1rc0do5k9t6afvpih8nnhul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530340429489-isn4al6li1rc0do5k9t6afvpih8nnhul</string>
	<key>API_KEY</key>
	<string>AIzaSyB-_wAcvkhwmyxhN32xORStklekVgQKgpM</string>
	<key>GCM_SENDER_ID</key>
	<string>530340429489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getbreve.breve</string>
	<key>PROJECT_ID</key>
	<string>breve-production-6ba7a</string>
	<key>STORAGE_BUCKET</key>
	<string>breve-production-6ba7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530340429489:ios:0ac0051dc4aeb89178ec90</string>
	<key>DATABASE_URL</key>
	<string>https://breve-production-6ba7a.firebaseio.com</string>
</dict>
</plist>